.card{
    margin: 10px;
    border-radius: 10px;
    overflow:hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.03);
}

.card > img{
    object-fit: fill;
    min-height: 200px;
    min-width: 300px;
    width: 100%;
    max-height: 200px;
    max-width: 300px;
}

.card_info{
    margin-top:10px 0 0 0 ;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
}

.card-info > h2{
    font-size: 18px;
    font-weight: 600;
}

.card-info > h4{
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
}